.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
a {
    color: #333;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

/*//////////////////////////////////////////////////////////////////
[ Receta Grid ]*/

div.tags.absolute {
    position: absolute;
    right: 0;
    top: -15px;
    width: 100%;
    z-index: 10;
    text-align: center;
}

div.tags a, div.tags span {
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 4px 25px;
    vertical-align: top;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: #E84E89;
}
.card {
    border-radius: 15px!important;
}
.card-footer:last-child {
    border-radius: 0 0 15px 15px!important;
}
.author-meta {
    border-top: 2px solid #F4F4F4;
    background-color: #ffffff!important;
    padding: 15px 20px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
}
.author-meta a.author .author-name {
    display: inline-block;
    letter-spacing: 0.5px;
}
.author-meta .author-image {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .25);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .25);
}
.cover {
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.author-meta a.author {
    color: #333;
    display: block;
    float: left;
    line-height: 35px;
    text-align: right;
}
.favoriteIcon {
    float: right;
    line-height: 30px;
}
.favoriteIcon .fa-heart:hover {
    color: red;
}

.select-grey {
    background-color: #e6e6e6!important;
    border: none!important;
    color: #8f8fa1!important;
    font-family: Ubuntu-Bold;
    font-size: 18px!important;
    height: 62px!important;
    line-height: 1.2!important;
    padding: 0 20px 0 34px!important;
}
